<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.lauruscorp.examplefeature">
	
	<application>
		
		<activity
			android:exported="false"
			android:label="@string/title"
			android:launchMode="singleTask"
			android:name=".presentation.ExampleActivity" />
	
	</application>

</manifest>