<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.lauruscorp.exampleapp">
	
	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/example_app"
		android:name=".application.ExampleApplication"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.ExampleApp"
		tools:replace="theme">
		
		<activity
			android:exported="true"
			android:launchMode="singleTask"
			android:name=".activity.ExampleAppActivity"
			android:theme="@style/Theme.ExampleApp">
			
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		
		</activity>
	
	</application>

</manifest>